<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schzemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.egoods.util.InitServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/config/system.properties</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
		<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/initservlet</url-pattern>
	</servlet-mapping>
  <servlet>
       <servlet-name>ExportPDF</servlet-name>
       <servlet-class>com.egoods.exports.ExportPDF</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>ExportTXT</servlet-name>
       <servlet-class>com.egoods.exports.ExportTXT</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>ExportXLS</servlet-name>
       <servlet-class>com.egoods.exports.ExportXLS</servlet-class>
  </servlet>
  <servlet-mapping>
       <servlet-name>ExportPDF</servlet-name>
       <url-pattern>/ExportPDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
       <servlet-name>ExportTXT</servlet-name>
       <url-pattern>/ExportTXT</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
       <servlet-name>ExportXLS</servlet-name>
       <url-pattern>/ExportXLS</url-pattern>
  </servlet-mapping>
   <servlet>
	   <description>This is the description of my J2EE component</description>
	   <display-name>This is the display name of my J2EE component</display-name>
	   <servlet-name>RegisterAction</servlet-name>
	   <servlet-class>com.egoods.action.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
       <servlet-name>RegisterAction</servlet-name>
       <url-pattern>/RegisterAction</url-pattern>
  </servlet-mapping>
 
  <servlet>
  		<description>This is the description of my J2EE component</description>
  		<display-name>This is the display name of my J2EE component</display-name>
  		<servlet-name>LoginAction</servlet-name>
  		<servlet-class>com.collegemagazine.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
  		<description>This is the description of my J2EE component</description>
  		<display-name>This is the display name of my J2EE component</display-name>
  		<servlet-name>ChangeQuestionAction</servlet-name>
  		<servlet-class>com.egoods.action.ChangeQuestionAction</servlet-class>
  </servlet>
  <servlet>
  		<description>This is the description of my J2EE component</description>
  		<display-name>This is the display name of my J2EE component</display-name>
  		<servlet-name>ChangePasswordAction</servlet-name>
  		<servlet-class>com.egoods.action.ChangePasswordAction</servlet-class>
  </servlet>
  <servlet>
  		<description>This is the description of my J2EE component</description>
  		<display-name>This is the display name of my J2EE component</display-name>
  		<servlet-name>RecoverPasswordAction</servlet-name>
  		<servlet-class>com.egoods.action.RecoverPasswordAction</servlet-class>
  </servlet>
  <servlet-mapping>
	   <servlet-name>LoginAction</servlet-name>
	   <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	   <servlet-name>ChangeQuestionAction</servlet-name>
	   <url-pattern>/ChangeQuestionAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	   <servlet-name>ChangePasswordAction</servlet-name>
	   <url-pattern>/ChangePasswordAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	   <servlet-name>RecoverPasswordAction</servlet-name>
	   <url-pattern>/RecoverPasswordAction</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>./home.jsp</welcome-file>
  </welcome-file-list>
</web-app>
